@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
            Link="https://github.com/obaki102/Obaki.Toolkit" Target="_blank" />
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Never" Elevation="10" Variant="@DrawerVariant.Mini">
        <div class="mud-navmenu mud-navmenu mud-navmenu-margin-none">
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Code" class="my-6"
                IconColor="Color.Tertiary" Href="">
                <MudText Typo="Typo.h1" Color="Color.Tertiary">Obaki.Toolkit</MudText>
            </MudNavLink>
            <MudDivider class="my-6" />
            <MudTooltip Text="@(_drawerOpen ? string.Empty : "Xml AutoEscaper")" Color="Color.Primary" Placement="Placement.Right">
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.FormatShapes"
                    IconColor="Color.Tertiary" Href="XmlAutoEscaper" Text="Xml AutoEscaper">
                    <MudText Typo="Typo.caption" Color="Color.Tertiary">Xml AutoEscaper</MudText>
                </MudNavLink>
            </MudTooltip>
        </div>
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _theme = DefaultTheme.ApplyTheme();
    private bool _isDarkMode = true;
    bool _drawerOpen = false;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}